<html>
<head><title>Current environment</title></head>
<body>
  <h1>Current environment</h1>
  <h2>Host's hostname is: <%= ENV['HOST_HOSTNAME'] %></h2>
  
  <pre>
* ruby -v: <%= `ruby -v`.chomp %>
* uname -a: <%= `uname -a`.chomp %>
* ip:
<%= `ip a s`.chomp %>
* env:
<%= `env`.chomp %>
  </pre>
  <hr />
  <address>Thanks!</address>
</body>
</html>
